<h1 style="text-align: center; margin-top: 24px;">My Bookings</h1>
<div class="container">

  <% @bookings.each do |booking| %>

    <div class="cardy">
      <%= cl_image_tag booking.motorcycle.photos.first.key, height: 150, width: 200, crop: :fill %>
      <div class="cardy-description">
        <h3><%= booking.motorcycle.year %> <%= booking.motorcycle.brand %> <%= booking.motorcycle.model %></h3>
        <p style="font-size: 16px">Pickup: <%= booking.start_date.strftime("%B %d, %Y") %></p>
        <p style="font-size: 16px">Dropoff: <%= booking.end_date.strftime("%B %d, %Y") %></p>
        <%= link_to 'Go to listing', motorcycle_path(booking.motorcycle), style: "font-size: 16px" %>
      </div>
    </div>
  <% end %>
</div>
