<div class="container">
  <h1>My Profile</h1>
  <div>
    <h2 style="font-family: raleway;">Update your profile photo</h2>
    <div class="profile-middle">
      <div>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, gravity: :face, crop: :thumb, height: 400, width: 400, class: "avatar-small dropdown-toggle profile-photo-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/vc334/image/upload/c_thumb,g_face,h_400,w_400/ldy28x5xt9skq4f2gdznnrs8p490", class: "avatar-small profile-photo-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>

        <div style="margin-top: 24px;">
          <%= simple_form_for [@user] do |f| %>
            <%= f.input :photo, input_html: { class: 'd-none'},  label_html: { class: 'upload-photo'}, label: '📷 Upload a photo',  as: :file%>
          <%= f.submit "Upload", class: "btn btn-dark text-center mt-0" %>
        <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

