



        <!-- <a style="color: inherit;" href=" <%= motorcycle_path(motorcycle) %>"> -->
          <div class="card-product-infos">
            <div class="card-product-infos-top">

            </div>

            <!-- <p><%= motorcycle.description %> </p> -->
            <div class="card-product-infos-middle">
<!--               <p> Brand: <%= motorcycle.brand %> </p>
              <p> Model: <%= motorcycle.model %> </p>
              <p> Type: <%= motorcycle.motorcycle_type %> </p>
              <p> Year: <%= motorcycle.year %> </p>
              <p> Engine: <%= motorcycle.engine_size %>cc </p> -->
            </div>

            <div class="card-product-infos-bottom">
              <!-- <p> <strong><span style="font-size: 15px;"><%= rand(2.5..4.9).round(1) %></strong></span> <i style="font-size: 13px;" class="far fa-star"></i></p> -->

            </div>
          </div>
        <!-- </a> -->
        </div>
     <% end %>


