 <h1 style="padding:8px"> Search Results </h1>
 <div class="container-fluid">
  <div class="moto-cards">
    <% @motorcycles.each do |motorcycle| %>
        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1587971051803-70bf6d4ae977?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80" />
         <a style="color: inherit;" href="/">
          <div class="card-product-infos">
            <div class="card-product-infos-top">
              <p> <%= motorcycle.motorcycle_type %> in <%= motorcycle.address %> </p>
              <h2><%= motorcycle.title %></h2>
            </div>
            <p>"<%= motorcycle.description %>"" </p>
            <div class="card-product-infos-middle">
              <p> Brand: <%= motorcycle.brand %> </p>
              <p> Model: <%= motorcycle.model %> </p>
              <p> Type: <%= motorcycle.motorcycle_type %> </p>
              <p> Year: <%= motorcycle.year %> </p>
              <p> Engine: <%= motorcycle.engine_size %>cc </p>
            </div>
            <div class="card-product-infos-bottom">
              <p> 4.5 (<%= rand(1..1000) %>) </p>
              <p> $<%= motorcycle.price_per_day %> / day </p>
            </div>
          </div>
        </a>
        </div>
     <% end %>
   </div>
      <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
 </div>


