<div class="container">
  <h1>My Motorcycles</h1>

  <div class="mt-4">
    <% @motorcycles.each do |motorcycle| %>
      <div class="card-main">
        <% if motorcycle.photos.any? %>
          <%= cl_image_tag motorcycle.photos.first.key, height: 180, width: 270, crop: :fill %>
        <% end %>
        <div class="card-main-description ml-3 mt-1" style="margin-right: 15px; align-items: center !important;">
          <div>
            <h3><%= motorcycle.year %> <%= motorcycle.brand %> <%= motorcycle.model %></h3>
            <div style="font-weight: normal; font-size: 16px; ">
              ($<%= motorcycle.price_per_day %>/day)
            </div>
          </div>
          <div>
            <%= link_to 'Go to listing', motorcycle_path(motorcycle), class: "text-dark" %> |
            <%= link_to 'Edit', edit_motorcycle_path(motorcycle), class: "text-dark"%> |
            <%= link_to 'Delete' , motorcycle_path(motorcycle), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: "text-dark" %>
            <br>
            <%= link_to "View bookings (#{motorcycle.bookings.where('end_date > ?', Date.today).count})", host_upcoming_bookings_bookings_path(motorcycle.id), class: "text-dark", style:"font-size: 1rem" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


